openapi: 3.0.4
info:
  title: Worldwide Earthquakes
  description: >-
    Earthquake is a simple tool for getting earthquake data. It returns the
    earthquake data for the past hour.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/earthquake:
    get:
      summary: Get Earthquake Data
      description: >-
        Earthquake is a simple tool for getting earthquake data. It returns the
        earthquake data for the past hour.
      operationId: earthquake
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  earthquakes_LastUpdated: '2026-02-18T12:00:00.000Z'
                  earthquakes_LastHour: 9
                  count24h: 187
                  largestMagnitude24h: 5.2
                  avgMagnitude24h: 1.84
                  earthquakes:
                    - mag: 3.4
                      place: 153 km SSW of Channel Islands Beach, California
                      time: 1765921110756
                      felt: 1
                      cdi: 2.2
                      mmi: 2.538
                      status: reviewed
                      tsunami: 0
                      sig: 178
                      net: us
                      types: >-
                        ,dyfi,nearby-cities,origin,phase-data,scitech-link,shakemap,
                      nst: 36
                      dmin: 0.479
                      rms: 0.65
                      gap: 247
                      magType: ml
                      type: earthquake
                      title: M 3.4 - 153 km SSW of Channel Islands Beach, California
                      coordinates:
                        - -119.931
                        - 32.9103
                    - mag: 2.25
                      place: 6 km NW of The Geysers, CA
                      time: 1765921522850
                      status: automatic
                      tsunami: 0
                      sig: 78
                      net: nc
                      types: ',focal-mechanism,nearby-cities,origin,phase-data,'
                      nst: 54
                      dmin: 0.01126
                      rms: 0.05
                      gap: 23
                      magType: md
                      type: earthquake
                      title: M 2.3 - 6 km NW of The Geysers, CA
                      coordinates:
                        - -122.792831
                        - 38.819332
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
